/* CSS Menu Lateral */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f3f4f6;
    min-height: 100vh;
    overflow-x: hidden;
}

.layout {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.navegacao {
    width: 260px;
    height: 100vh;
    background-color: #06122b;
    display: flex;
    flex-direction: column;
    padding: 10px 20px 20px 20px;
}

.logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -70px;
}

.logo img {
    width: 400px;
    object-fit: contain;
    margin-top: -60px;
    margin-bottom: -15px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.menu-item {
    text-decoration: none;
    color: #d1d5db;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 14px;
    border-radius: 10px;
    transition: 0.2s;
    font-size: 15px;
    font-weight: 500;
}

.menu-item:hover {
    background-color: #1f2937;
}

.menu-item i {
    font-size: 18px;
}

.perfil-usuario {
    margin-top: auto;
    display: flex;
    align-items: center;
    gap: 12px;
    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.foto-usuario {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
}

.info-usuario {
    display: flex;
    flex-direction: column;
}

.info-usuario h4 {
    font-size: 14px;
    color: white;
}

.info-usuario span {
    font-size: 12px;
    color: white;
    margin-top: 2px;
}

/* CSS Status Contas Fixas */
.container {
    flex: 1;
    background: #f9fafb;
    padding: 40px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-categoria {
    width: 100%;
    max-width: 1100px;
    background: white;
    border-radius: 20px;
    padding: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-bottom: 35px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

.campo {
    display: flex;
    flex-direction: column;
    gap: 12px;
}